@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {

  --color-text: #f4c87d;
  --color-main: #2F2325;
  --color-main-dark: #543a1b;
  --color-main-light: #78b467;
  --color-secondary-dark: #a45728;
  --color-secondary-light: #f4c87d;
  --color-secondary: #ECD6C4;
  

  font-size: 100%;
  background: linear-gradient(68.15deg, #6e4524 16.62%, #a45728 85.61%);
  margin-left: 10px;
  margin-right: 10px;

  --number-fairgoers-columns: 3;
  --value-partner-columns: 2fr 1fr;
  --main-content-flex-direction: row;
}

@media only screen and (max-width: 920px) {
  body {
    --size-fairgoers-columns: 1;
    --value-partner-columns: 1fr;
    --main-content-flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  border-bottom: 0.4px solid var(--color-text);
  padding-left: 20px;
  padding-right: 20px;
}

.header-image {
  height: 72px;
  margin-bottom: 8px;
}

.header-menu {
  display: flex;
  gap: 2em;
}

.header-menu-item {
  font-family: 'Sarala', sans-serif;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.4em;
}

.fairgoers-list {
  display: grid;
  grid-template-columns: repeat(var(--number-fairgoers-columns), 1fr);
  grid-gap: 1em;
}

.fairgoers-item {
  color: var(--color-text);
  display: flex;
}

.fairgoers-item-avatar {
  border-radius: 100%;
  height: 4em;
  width: 4em;
  margin-right: 0.5rem;
}

.fairgoers-item-text {
  line-height: 1.2em;
}

.partners {
  display: grid;
  grid-template-columns: var(--value-partner-columns);
  color: var(--color-text);
  margin-top: 2em;
  padding-top: 1em;
  gap: 8rem;
}

.logo-apoio {
  height: 6em;
  margin-left: 1em;
  margin-top: 2em;
}

.content {
  margin-top: 2em;
}

.content-partners {
  margin-top: 1rem;
}

.content-map {
  margin-top: 1rem;
}

.content-main {
  display: flex;
  flex-direction: var(--main-content-flex-direction);
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 3em;
}

.content-main-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-main-text-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 3em;
  color: var(--color-text);
}

.content-main-text-subtitle {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--color-secondary);
}

.content-main-image {
  height: 22rem;
}

.content-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.content-secondary-title {
  border-top: 0.4px solid var(--color-text);
  padding-top: 26px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: var(--color-text);
  margin-bottom: 16px;
}

.footer {
  margin-top: 2rem;
  padding: 16px;
  border-top: 0.4px solid var(--color-text);
  color: var(--color-text);
}

@media only screen and (max-width: 600px) {
  .header-menu {
    display: flex;
    gap: 1em;
    flex-direction: column;
  }

  .header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: var(--color-text);
    font-weight: 400;
    font-size: 1.2em;
  }
}
